<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Nuevo movimiento</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-card>
    <ion-card-content>
      <form [formGroup]="formOperation">
        <ion-item>
          <ion-label>Tipo de movimiento</ion-label>
          <ion-select formControlName="operationType" interface="popover" (ionChange)="updateForm()">
            <ion-select-option [value]="0">Depósito</ion-select-option>
            <ion-select-option *ngIf="this.operationsService.account.status == 0" [value]="1">Retiro</ion-select-option>
            <ion-select-option *ngIf="this.operationsService.account.status == 0" [value]="2">Transferencia</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Descripción</ion-label>
          <ion-input formControlName="description"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Monto</ion-label>
          <ion-input type="number" formControlName="amount"></ion-input>
        </ion-item>
        <ion-item *ngIf="formOperation.value.operationType==2">
          <ion-label position="floating">Cuenta destino</ion-label>
          <ion-input type="number" formControlName="idDestination"></ion-input>
        </ion-item>
      </form>
      <br>
      <ion-item>
        <ion-button slot="end" (click)="newOperation()" size="medium">
          <ion-label>
            Crear movimiento</ion-label>
        </ion-button>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>

