<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Nuevo movimiento</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card>
    <ion-card-content>
      <form [formGroup]="formOperation">
        <ion-item>
          <ion-label>Tipo de movimiento</ion-label>
          <ion-select formControlName="operationType" interface="popover">
            <ion-select-option [value]="0">Depósito</ion-select-option>
            <ion-select-option [value]="1">Retiro</ion-select-option>
            <ion-select-option [value]="2">Transferencia</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Descripción</ion-label>
          <ion-input formControlName="description"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Monto</ion-label>
          <ion-input formControlName="amount"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Tipo de movimiento</ion-label>
          <ion-select formControlName="credit" interface="popover">
            <ion-select-option [value]="0">Débito</ion-select-option>
            <ion-select-option [value]="1">Crédito</ion-select-option>
          </ion-select>
        </ion-item>
      </form>
      <br>
      <ion-button (click)="newOperation()">
        Crear movimiento
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>

