<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-button routerLink="../">
        <ion-icon size="large" slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Nuevo movimiento</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-card>
    <ion-card-content>
      <form [formGroup]="formOperation">        
        <div class="input-field">
          <i class="fas fa-address-book"></i>
          <ion-select formControlName="operationType" interface="popover" (ionChange)="updateForm()" placeholder="Tipo de movimiento">
            <ion-select-option [value]="0">Depósito</ion-select-option>
            <ion-select-option *ngIf="this.accountService.account.status == 0" [value]="1">Retiro</ion-select-option>
            <ion-select-option *ngIf="this.accountService.account.status == 0" [value]="2">Transferencia</ion-select-option>
          </ion-select>
        </div>
        <div class="input-field">
          <i class="fa fa-file-text"></i>
          <input formControlName="description" type="text" placeholder="Descripción">
        </div>
        <div class="input-field">
          <i class="fa fa-money"></i>
          <input formControlName="amount" type="number" placeholder="Monto">
        </div>
        <div class="input-field" *ngIf="formOperation.value.operationType==2">
          <i class="fas fa-address-book"></i>
          <input formControlName="idDestination" type="number" placeholder="Cuenta destino">
        </div>
        <input (click)="newOperation()" type="submit" value="Crear movimiento" class="btn solid">
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>

