<ion-header>
  <ion-toolbar>
    <ion-title>Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<div class="container">
  <div class="forms-container">
    <div class="signin-signup">
      <form class="sign-in-form" [formGroup]="formLogin">
        <img src="assets/cat_coin.svg" class="logo">
        <h2 class="title">Iniciar sesión</h2>
        <div class="input-field">
          <i class="fas fa-envelope"></i>
          <input formControlName="email" type="text" placeholder="Correo">
        </div>
        <div class="input-field">
          <i class="fas fa-lock"></i>
          <input formControlName="password" type="password" placeholder="Contraseña">
        </div>
        <input (click)="login()" type="submit" value="Iniciar sesion" class="btn solid">
      </form>

      <form class="sign-up-form" [formGroup]="formRegister">
        <h2 class="title">Registrarse</h2>
        <div class="input-field">
          <i class="fas fa-address-card"></i>
          <ion-select formControlName="idType" interface="popover" placeholder="Tipo de identificación">
            <ion-select-option value="CC">CC</ion-select-option>
            <ion-select-option value="CE">CE</ion-select-option>
          </ion-select>
        </div>
        <div class="input-field">
          <i class="fas fa-address-card"></i>
          <input formControlName="idNumber" type="number" placeholder="Número de identificación">
        </div>
        <div class="input-field">
          <i class="fas fa-user"></i>
          <input formControlName="lastName" type="text" placeholder="Apellidos">
        </div>
        <div class="input-field">
          <i class="fas fa-user"></i>
          <input formControlName="firstName" type="text" placeholder="Nombres">
        </div>
        <div class="input-field">
          <i class="fas fa-envelope"></i>
          <input formControlName="email" type="email" type="text" placeholder="Correo electrónico">
        </div>
        <div class="input-field">
          <i class="fas fa-calendar"></i>
          <input formControlName="bornDate" type="date" placeholder="Fecha de nacimiento">
        </div>
        <div class="input-field">
          <i class="fas fa-lock"></i>
          <input formControlName="password" type="password" placeholder="Contraseña">
        </div>
        <div class="input-field">
          <i class="fas fa-lock"></i>
          <input formControlName="confirmPassword" type="password" placeholder="Confirmar contraseña">
        </div>
        <input (click)="register()" type="submit" value="Registrar" class="btn solid">
      </form>
    </div>
  </div>
  <div class="panels-container">
    <div class="panel left-panel">
      <div class="content">
        <h3> ¿No tienes cuenta? </h3>
        <br>
        <button class="btn transparent" (click)="signUp()" id="sign-up-btn">Registro</button>
      </div>
      <img src="assets/login.svg" class="image">
    </div>
    
    <div class="panel right-panel">
      <div class="content">
        <h3> ¿Ya tienes cuenta? </h3>
        <br>
        <button class="btn transparent" (click)="signIn()" id="sign-in-btn">Registro</button>
      </div>
      <img src="assets/register.svg" class="image">
    </div>
  </div>
</div>