<ion-header>
  <ion-toolbar>
    <ion-title>Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="flex-center">
    <form [formGroup]="formLogin">
      <ion-card>
        <ion-card-content>
        <ion-item>
          <ion-label position="floating">Correo</ion-label>
          <ion-input formControlName="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>
          <br>
        <ion-item>
          <ion-button slot="end" (click)="login()" size="medium">
            <ion-label>Ingresar</ion-label>
          </ion-button>
        </ion-item>
      </ion-card-content>
      </ion-card>
    </form>
  </div>
</ion-content>

<ion-button [routerLink]="['/register']">
  Registro
</ion-button>