<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-button routerLink="../">
        <ion-icon size="large" slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Modificar usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card class="ion-padding">
    <ion-card-content>
      <form [formGroup]="formModify">
        <div class="input-field">
          <i class="fas fa-address-card"></i>
          <input formControlName="idType" type="text" placeholder="Tipo de identificación" value="{{user.idType}}" [attr.disabled]="true">
        </div>
        <div class="input-field">
          <i class="fas fa-address-card"></i>
          <input formControlName="idNumber" type="number" placeholder="Número de identificación" value="{{user.idNumber}}" [attr.disabled]="true">
        </div>
        <div class="input-field">
          <i class="fas fa-user"></i>
          <input formControlName="lastName" type="text" placeholder="Apellidos" value="{{user.lastName}}">
        </div>
        <div class="input-field">
          <i class="fas fa-user"></i>
          <input formControlName="firstName" type="text" placeholder="Nombres" value="{{user.firstName}}">
        </div>
        <div class="input-field">
          <i class="fas fa-envelope"></i>
          <input formControlName="email" type="email" type="text" placeholder="Correo electrónico" value="{{user.email}}">
        </div>
        <div class="input-field">
          <i class="fas fa-calendar"></i>
          <input formControlName="bornDate" type="date" placeholder="Fecha de nacimiento" value="{{user.bornDate}}">
        </div>
        <div class="input-field">
          <i class="fas fa-lock"></i>
          <input formControlName="password" type="password" placeholder="Contraseña">
        </div>
        <div class="input-field">
          <i class="fas fa-lock"></i>
          <input formControlName="confirmPassword" type="password" placeholder="Confirmar contraseña">
        </div>
        <div class="input-field">
          <i class="fas fa-lock"></i>
          <input formControlName="oldPassword" type="password" placeholder="Contraseña anterior">
        </div>
        <input (click)="modify()" type="submit" value="Modificar" class="btn solid">
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>