<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-button routerLink="/inicio/usuarios/cuentas">
        <ion-icon size="large" slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button routerLink="./nuevo">
        Nuevo <ion-icon size="large" name="add-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Movimientos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-infinite-scroll>
    <ion-card *ngFor="let operation of operations;">
      <div class="card-container">
        <div class="card title">
          <h1>{{typeToString(operation.operationType)}}</h1>
        </div>
        <div class="card body">
          <p>{{operation.date}}</p>
        </div>
        <div class="card body">
          <p>{{operation.description}}</p>
        </div>
        <div class="card end">
          <p *ngIf="operation.credit==0" class="danger"><b>-{{operation.amount | currency}}</b></p>
          <p *ngIf="operation.credit==1" class="success"><b>{{operation.amount | currency}}</b></p>
        </div>
      </div>
    </ion-card>
  </ion-infinite-scroll>
  
  <div *ngIf="operations?.length == 0">
    <h1 class="ion-text-center">Esta cuenta no tiene movimientos</h1>
  </div>
</ion-content>