<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-button routerLink="/inicio/usuarios/cuentas">
        <ion-icon size="large" slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button routerLink="./nuevo">
        Nuevo <ion-icon size="large" name="add-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Movimientos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-infinite-scroll>
    <div class="card-data">
      <div class="card">
        <ion-card *ngFor="let operation of operations" class="ion-activated">
          <ion-card-header>
            <ion-card-title>{{typeToString(operation.operationType)}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-item>
              <ion-label>{{operation.date}}</ion-label>
              <ion-label *ngIf="operation.credit==0" color="danger" slot="end"><b>-{{operation.amount | currency}}</b></ion-label>
              <ion-label *ngIf="operation.credit==1" color="success" slot="end"><b>{{operation.amount | currency}}</b></ion-label>
            </ion-item>
            <ion-item>
              <ion-label>{{operation.description}}</ion-label>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </div>
    </div>
  </ion-infinite-scroll>
  
  <div *ngIf="operations?.length == 0">
    <h1 class="ion-text-center">Esta cuenta no tiene movimientos</h1>
  </div>
</ion-content>