<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-button routerLink="/inicio/usuarios">
        <ion-icon size="large" slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button routerLink="./nueva">
        Nueva <ion-icon size="large" name="add-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
      <ion-title>Cuentas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-infinite-scroll>
    <ion-card #accountCard *ngFor="let account of accounts; let i = index;" (click)="toggleAccordian(i)">
      <div class="accordion">
        <div class="card-container">
          <div class="card title">
            <p>{{account.id}}</p>
          </div>
          <div class="card body">
            <h1>Cuenta {{typeToString(account.type)}}</h1>
          </div>
          <div class="card body">
            <p *ngIf="account.amount < 0" class="danger"><b>Saldo disponible: {{account.amount | currency}}</b></p>
            <p *ngIf="account.amount >= 0"><b>Saldo disponible: {{account.amount | currency}}</b></p>
          </div>
          <div class="card end">
            <p *ngIf="account.status == 0" class="success"><b>Activa</b></p>
            <p *ngIf="account.status == 1" class="danger"><b>Inactiva</b></p>
          </div>
        </div>
      </div>
      <div class="accordion-content" hide="account.collapsed">
        <button class="card-btn green" (click)="saveAccount(account)">Ver movimientos</button>
        <button class="card-btn yellow" (click)="statusAccount(account)">Estado</button>
        <button class="card-btn red" (click)="cancelAccount(account)">Cancelar</button>
      </div>
    </ion-card>
    <div *ngIf="accounts?.length == 0">
      <h1 class="ion-text-center">Este cliente no tiene cuentas</h1>
    </div>
  </ion-infinite-scroll>
</ion-content>