<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Bienvenido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <ion-title>Tus cuentas:</ion-title>
  <ion-infinite-scroll>
      <ion-card *ngFor="let account of accounts" (click)="saveAccount(account)" class="ion-activated" class="pointer">
        <ion-card-header>
          <ion-card-subtitle> {{account.id}}</ion-card-subtitle>
          <ion-card-title>Cuenta {{account.type}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-item>
            <ion-label>Saldo disponible: ${{account.amount}}</ion-label>
            <ion-button fill="clear" slot="end" (click)="options($event, account)" size="big">
              <ion-icon slot="icon-only" name="settings"></ion-icon>
            </ion-button>
          </ion-item>
        </ion-card-content>
      </ion-card>
      <div *ngIf="accounts?.length == 0">
        <h1 class="ion-text-center">No existen cuentas</h1>
      </div>
  </ion-infinite-scroll>
</ion-content>